<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<div id="menu" th:fragment="Menu" class="card w-100 h-100 justify-content-center" style="margin-top: 23.56px;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
    <li class="list-group-item" style="padding:0px 2px 0px 0px;">
    	<button type="button" class="btn btn-info btn-lg btn-block w-100">Info</button>
    </li>
  </ul>
</div>
</head>
</html>