<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<title>浪曦学生管理系统</title>
<link rel="icon" th:href="@{~/image/logo.png}"></link>
<link th:href="@{~/css/admin.css}" rel="stylesheet" media="screen"
	type="text/css"></link>
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"></link>
<script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/jquery.nicescroll.min.js}"></script>
</head>
<body	>
<div class="alert alert-danger fixed-top" role="alert">
	<h2 style="color:red;">对不起，您没有权限访问此页面！</h2>
	<a href="login">返回登录页面</a>
</div>
</body>
</html>