<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<title>浪曦学生管理系统</title>
<link rel="icon" th:href="@{~/image/logo.png}"></link>
<link th:href="@{~/css/style.css}" rel="stylesheet" media="screen"
	type="text/css"></link>
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{~/css/bootstrap3.min.css}"></link>
<script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/bootstrap-treeview.js}"></script>
<script th:src="@{~/js/jquery.nicescroll.min.js}"></script>
</head>
<body id="home-body">
	<div class="container-fluid h-100" style="padding: 0px;">
		<div th:replace="common/banner::Banner"></div>
		<div class="row h-100" style="margin-left: -15px; margin-right: 0px;">
			<div class="col-2" style="padding-right: 0px;">
				<div th:replace="common/menu::Menu"></div>
			</div>
			<div class="col-10" style="padding-left: 0px; padding-right: 0px;">
				<div th:if="${data.isHome}"
					class="d-flex align-items-center justify-content-center h-100">
					<h1>欢迎登录浪曦学生管理系统</h1>
				</div>
				<div th:unless="${data.isHome}" class="h-100">
					<div th:switch="${data.fragmentName}" class="h-100">
						<div th:case="privilege" class="h-100">
							<div th:replace="common/privilege::Privilege"></div>
						</div>
						<div th:case="studentinfo" class="h-100">
							<div th:replace="common/studentinfo::StudentInfo"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="common/footer::Footer"></div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#menu").niceScroll();
			$("#privilegeRow").niceScroll();
		});

		function listPrivilege() {
			$.ajax({
				method : "GET",
				url : "/privilege/list",
				success : function(result) {
					$("#listPrivilege").treeview({
						data : result,
						onNodeSelected : function(event, data) {
							privilegeSelected(data);
						}
					});
				}
			});
		}

		function createPrivilege() {
			var pid = $("#privilegeIdDetail").val();
			var privilegeCategoryId = $("#privilegeCategoryId").val();
			var privilegeName = $("#privilegeName").val();
			var privilegeDescription = $("#privilegeDescription").val();

			$.ajax({
				method : "POST",
				url : "/privilege/add",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify({
					pid : pid,
					privilegeCategoryId : privilegeCategoryId,
					name : privilegeName,
					description : privilegeDescription
				}),
				success : function(result) {
					var result = eval(result);
					if (result.IsSuccess) {
						alert(result.OutputMessage);
						$('#addPrivilegeModal').modal('hide');
						$("#privilegeCategoryId").val("1");
						$("#privilegeName").val("");
						$("#privilegeDescription").val("");
						$("#listPrivilege").treeview({
							data : result.Data,
							onNodeSelected : function(event, data) {
								privilegeSelected(data);
							}
						});
					} else {
						alert(result.OutputMessage);
					}
				}
			});
		}

		function createChildPrivilege() {
			$('#privilegeDetailModal').modal('hide');
			$("#addPrivilegeModal").modal('show');
		}

		function updatePrivilege() {
			var privilegeId = $("#privilegeIdDetail").val();
			var privilegeCategoryId = $("#privilegeCategoryIdDetail").val();
			var privilegeName = $("#privilegeNameDetail").val();
			var privilegeDescription = $("#privilegeDescriptionDetail").val();

			$.ajax({
				method : "PUT",
				url : "/privilege/update",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify({
					id : privilegeId,
					privilegeCategoryId : privilegeCategoryId,
					name : privilegeName,
					description : privilegeDescription
				}),
				success : function(result) {
					var result = eval(result);
					if (result.IsSuccess) {
						alert(result.OutputMessage);
						$('#privilegeDetailModal').modal('hide');
						$("#privilegeIdDetail").val("");
						$("#privilegeCategoryIdDetail").val("1");
						$("#privilegeNameDetail").val("");
						$("#privilegeDescriptionDetail").val("");
						$("#listPrivilege").treeview({
							data : result.Data,
							onNodeSelected : function(event, data) {
								privilegeSelected(data);
							}
						});
					} else {
						alert(result.OutputMessage);
					}
				}
			});

		}

		function deletePrivilege() {
			var id = $("#privilegeIdDetail").val();
			$.ajax({
				method : "DELETE",
				url : "/privilege/" + id + "/delete",
				success : function(result) {
					var result = eval(result);
					if (result.IsSuccess) {
						alert(result.OutputMessage);
						$('#privilegeDetailModal').modal('hide');
						$("#privilegeIdDetail").val("");
						$("#privilegeCategoryIdDetail").val("1");
						$("#privilegeNameDetail").val("");
						$("#privilegeDescriptionDetail").val("");
						$("#listPrivilege").treeview({
							data : result.Data,
							onNodeSelected : function(event, data) {
								privilegeSelected(data);
							}
						});
					} else {
						alert(result.OutputMessage);
					}
				}
			});

		}
		function assignPrivilege() {
			$("#assignPrivilegeModal").modal('show');

			$.ajax({
				method : "GET",
				url : "/privilege/role/list",
				dataType : "json",
				contentType : "application/json",
				success : function(result) {
					$("#roles").find("option:selected").text("");
					$("#roles").empty();
					$('#roles').append('<option>请选择角色...</option>')
					var result = eval(result);
					var roles = result.Data;
					var size = roles.length;
					for (var i = 0; i < size; i++) {
						var id = roles[i].id;
						$('#roles').append(
								'<option value='+id+'>' + roles[i].name
										+ '</option>')
					}
				}
			});
		}

		var rolePrivilegeCheckedIds = [];
		var rolePrivilegeUnCheckedIds = [];
		var roleId = 0;
		function roleSelected() {
			roleId = $('#roles').val();

			$.ajax({
				method : "GET",
				url : "/privilege/role/" + roleId + "/list",
				dataType : "json",
				contentType : "application/json",
				success : function(result) {
					rolePrivilegeCheckedIds = [];
					rolePrivilegeUnCheckedIds = [];
					var result = eval(result);
					if (result.IsSuccess) {
						$("#rolePrivilege").treeview({
							data : result.Data,
							showCheckbox : true,
							onNodeChecked : function(event, node) {
								rolePrivilegeCheckedIds.push(node.id);
							},
							onNodeUnchecked : function(event, node) {
								rolePrivilegeUnCheckedIds.push(node.id);
							}
						});
					} else {
						alert(result.OutputMessage);
					}
				}
			});
		}

		function assignPrivilegeUpdate() {
			var checkedIds = "";
			var unCheckedIds = "";
			if (rolePrivilegeCheckedIds.length == 0
					&& rolePrivilegeUnCheckedIds.length == 0) {
				alert("请选择要赋予或者取消的权限");
			} else {
				if (rolePrivilegeCheckedIds.length == 0) {
					checkedIds = null;
				} else {
					checkedIds = rolePrivilegeCheckedIds.join(",");
				}
				if (rolePrivilegeUnCheckedIds.length == 0) {
					unCheckedIds = null;
				} else {
					unCheckedIds = rolePrivilegeUnCheckedIds.join(",");
				}
				$.ajax({
					method : "PUT",
					url : "/privilege/role/" + roleId + "/update",
					dataType : "json",
					contentType : "application/json",
					data : JSON.stringify({
						checkedIds : checkedIds,
						unCheckedIds : unCheckedIds
					}),
					success : function(result) {
						rolePrivilegeCheckedIds = [];
						rolePrivilegeUnCheckedIds = [];
						var result = eval(result);
						if (result.IsSuccess) {
							alert(result.OutputMessage);
							$("#rolePrivilege").treeview({
								data : result.Data,
								showCheckbox : true,
								onNodeChecked : function(event, node) {
									rolePrivilegeCheckedIds.push(node.id);
								},
								onNodeUnchecked : function(event, node) {
									rolePrivilegeUnCheckedIds.push(node.id);
								}
							});
						} else {
							alert(result.OutputMessage);
						}
					}
				});
			}
		}

		function privilegeSelected(data) {
			$("#privilegeIdDetail").val(data.id);
			$("#privilegeCategoryIdDetail").val(data.categoryId);
			$("#privilegeNameDetail").val(data.text);
			$("#privilegeDescriptionDetail").val(data.description);

			$('#privilegeDetailModal').modal('show');
		}
		
		/**<<-----学员信息管理----->>**/
		function addStudentInfo(){
			$('#addStudentInfoModal').modal('show');
		}
		/**-----end-----**/
	</script>
</body>
</html>